:root {
 --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.circle{
  width: 150px;
  height: 150px;
  background: #ececec;
  text-align: center;
  border-radius: 100%;
  font-size: 20px;
  padding-top: 10px;
}
.circle span{
  font-size: 20px;
  color: #6f767c;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 50px;
  display: block;
}
body {
  padding: 1rem 0;
  background: #fafafa;
  color:#555;
  font-family:var(--bs-font-sans-serif);
  font-size:0.875rem;
  font-weight:400;
}


h1,
.h1 {
 font-size:calc(1.375rem + 1.5vw)
}
@media (min-width: 1200px) {
 h1,
 .h1 {
  font-size:2.5rem
 }
}
h2,
.h2 {
 font-size:calc(1.325rem + .9vw)
}
@media (min-width: 1200px) {
 h2,
 .h2 {
  font-size:2rem;
  color: #555;
 }
}
h3,
.h3 {
 font-size:calc(1.3rem + .6vw)
}
@media (min-width: 1200px) {
 h3,
 .h3 {
  font-size:1.75rem
 }
}
h4,
.h4 {
 font-size:calc(1.275rem + .3vw)
}
@media (min-width: 1200px) {
 h4,
 .h4 {
  font-size:1.5rem
 }
}
h5,
.h5 {
 font-size:1.25rem
}
h6,
.h6 {
 font-size:1rem
}

a {
 color:#4f4f4f
}
a:hover {
 color:#17a2b8
}

.book p{
  width:75%;
}

.book-info p{
  width:95%;
  border-radius: 5px;
  background-color: #ececec;
  padding: 15px
}
.book-cover {
  width:auto;
  border-radius: 5px;
  background-color: #ececec;
  padding: 15px
}
.heading {
 position:relative;
 padding-left:1rem;
  font-size:.9em;
 text-transform:uppercase;
 letter-spacing:0.11rem;
 color:#17a2b8
}
.heading:before {
 content:"";
 display:inline-block;
 width:5px;
 height:100%;
 background:#17a2b8;
 position:absolute;
 left:0;
 top:0
}
.card {
  width: 220px;
  display: inline-block;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.card:hover, .card.hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}
.card:hover .card-content, .card.hover .card-content {
  box-shadow: inset 0 3px 0 0 #4169e1;
  border-color: #4169e1;
}
.card:hover .card-img .overlay, .card.hover .card-img .overlay {
  background-color: rgba(25, 29, 38, 0.85);
  transition: opacity 0.2s ease;
  opacity: 1;
}
.card-img {
  position: relative;
  height: 340px;
  width: 100%;
  background-color: #fff;
  transition: opacity 0.2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}
.card-img .overlay .overlay-content {
  line-height: 340px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.card-img .overlay .overlay-content a {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
.card-img .overlay .overlay-content a:hover, .card-img .overlay .overlay-content a.hover {
  background: #17a2b8;
  border-color: #4169e1;
}
.card-content {
  width: 100%;
  min-height: 150px;
  background-color: #fff;
  border-top: 1px solid #E9E9EB;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1rem 1rem;
  transition: all 0.2s ease;
}
.card-content a {
  text-decoration: none;
  color: #202927;
}
.card-content h2, .card-content a h2 {
  font-size: 1rem;
  font-weight: 500;
}
.card-content p, .card-content a p {
  font-size: 0.8rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 90px;
  color: rgba(32, 41, 28, 0.8);
}

.card-img span {
  position: absolute;
    top: 15%;
    left: 12%;
    background: purple;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
    font-size: 12px;
    margin:0;
    padding:10px 5px;
    line-height: 0;
}

.btn-wrapper .btn-secondary {
  line-height: 1;

}

.sidebutton-wrapper .btn {
    margin-bottom:5px;
    width: 70%;
}

.site-footer
{
  background-color:#343a40!important;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#17a2b8
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
	
    