{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2>{% block title %} Добавить новую книгу {% endblock %}</h2>
          <p class="text-secondary">Обложку можно добавить позже</p>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            <fieldset class="form-group">
                <legend class="heading">Подробная информация</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.author.label(class="form-control-label") }}
                    {{ form.author(class="form-control") }}
                    {% if form.author.errors %}
                        {% for error in form.author.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.genre.label(class="form-control-label") }}
                    {{ form.genre(class="form-control") }}
                    {% if form.genre.errors %}
                        {% for error in form.genre.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>               
                <div class="form-group">
                    {{ form.cover.label() }}
                    {{ form.cover(class="form-control-file") }}
                    {% if form.cover.errors %}
                        {% for error in form.cover.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.rating.label() }}
                    {{ form.rating(class="form-control-number") }}
                    {% if form.rating.errors %}
                        {% for error in form.rating.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>                
                <div class="form-group">
                    {{ form.description.label(class="form-control-textarea") }}
                    {{ form.description(class="form-control") }}
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>  
                <div class="form-group">
                    {{ form.notes.label(class="form-control-textarea") }}
                    {{ form.notes(class="form-control") }}
                    {% if form.notes.errors %}
                        {% for error in form.notes.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>  
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock content %}